$workarea-text: #0b2b36;
$workarea-background: #f7f2f2;

$sidebar-text: #eee1e1;
$sidebar-border-item: rgba(255, 255, 255, 0.5);
$sidebar-gradient1: #0b2b36;
$sidebar-gradient2: #0d313d;
$sidebar-gradient3: #0f3744;
$sidebar-gradient4: #113e4d;
$sidebar-gradient5: #134555;
$sidebar-border-selected-hover: #164454;
$sidebar-selected-hover-background: rgba(255, 255, 255, 0.1);